@{
}

<br />
<br />
<br />

<div>
    <a class="btn btn-info" asp-action="index" asp-controller="Product">محصولات</a>
</div>

<br />
<br />
<br />

<div>
    <a class="btn btn-info" asp-action="index" asp-controller="Category">دسته بندی ها</a>
</div>
